body {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

#app {
	width: 100vw;
	height: 100vh
}

.dialog-boxes {
	position: absolute;
	bottom: 20px;
	height: 200px;
	right: 20px;
	left: 20px;

	.text {
		display: inline-block;

		padding: 20px;
		background-color: rgba(255,255,255,0.5);
	}

	.options {
		margin-top: 20px;
		>div {
			display: inline-block;
			padding: 20px;
			margin-right: 20px;
			background-color: rgba(255,255,255,0.5);
		}
	}
}